/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.image{
	-fx-fill-width: true ;
}
#updateButton{
	-fx-background-color: orange;
	-fx-font-weight: bold;
}

#insertButton{
	-fx-background-color: #58FA58;
	-fx-font-weight: bold;
}

#displayPlayerButton{
	-fx-background-color: #ffcccc;
	-fx-font-weight: bold;

}

#clearButton{
	-fx-background-color: #819FF7;
	-fx-font-weight: bold;
}
#UpdateButton{
	-fx-background-color: #ffffcc;
	-fx-font-weight: bold;
}

#InsertButton{
	-fx-background-color: #ccffff;
	-fx-font-weight: bold;
}

#displaySearchButton{
	-fx-background-color: #66ff66;
	-fx-font-weight: bold;
}
#addButton{
	-fx-background-color: #66ff66;
	-fx-font-weight: bold;
}
#searchButton{
	-fx-background-color: #ff9966;
	-fx-font-weight: bold;
}
.custom{
	-fx-control-inner-background: #F2F5A9;
}

